QLineEdit {
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #555;
    padding: 4px;
    border-radius: 3px;
}

QLineEdit:focus {
    border: 1px solid #3d8cff;
}



QListWidget {
    background-color: #1f1f1f;
    color: white;
    border: 1px solid #444;
}

QListWidget::item:selected {
    background-color: #3d8cff;
    color: white;
}



QPushButton {
    background-color: #3a3a3a;
    color: white;
    border: 1px solid #555;
    padding: 5px;
    border-radius: 3px;
}

QPushButton:hover {
    background-color: #4a4a4a;
}

QPushButton:pressed {
    background-color: #2a2a2a;
}



QLabel {
    color: white;
}



QMenuBar, QMenu {
    background-color: #2d2d2d;
    color: white;
}

QMenuBar::item:selected {
    background-color: #3a3a3a;
}

QMenu::item:selected {
    background-color: #3a3a3a;
}



QToolBar {
    background-color: #2d2d2d;
    border-color: #2b2b2b;
}



QStatusBar {
    background-color: #2d2d2d;
    color: white;
}
