QLineEdit {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #aaaaaa;
    padding: 4px;
    border-radius: 3px;
}

QLineEdit:focus {
    border: 1px solid #3d8cff;
}



QListWidget {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #aaaaaa;
}

QListWidget::item:selected {
    background-color: #3d8cff;
    color: white;
}



QPushButton {
    background-color: #e0e0e0;
    color: #000000;
    border: 1px solid #8c8c8c;
    padding: 5px;
    border-radius: 3px;
}

QPushButton:hover {
    background-color: #f0f0f0;
}

QPushButton:pressed {
    background-color: #d0d0d0;
}



QLabel {
    color: #000;
}



QMenuBar {
    background-color: #f0f0f0;
    color: #000000;
}

QMenu {
    background-color: #f0f0f0;
    color: #000000;
}

QMenu::item:selected {
    background-color: #dcdcdc;
}



QToolBar {
    background-color: #e9e9e9;
}



QStatusBar {
    background-color: #f0f0f0;
    color: #000000;
}
